<!--
  Generated template for the ModuleBookListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{moduleTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="books">
    <ion-list-header>
      Search results
    </ion-list-header>
    <ion-item *ngFor="let book of books.books" >
      <h2>{{book.ISBN}}</h2>
      <h3>{{book.price}}</h3>
      <h3>{{book.condition}}</h3>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small (click)="buyPage(book)">
              <ion-icon name="card"></ion-icon>
              <div>Buy</div>
            </button>
          </ion-col>
          <ion-col>
            <!--<button ion-button icon-left clear small (click)="sellPage(book)">
              <ion-icon name="logo-usd"></ion-icon>
              <div>Sell</div>
            </button>-->
          </ion-col>
          <ion-col text-center align-self-center	>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-----===========================------>
  </ion-list>
</ion-content>
