RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.*)$ %{ENV:BASE}index.php [QSA,L]


#need headers on apache
#Header always set Access-Control-Allow-Origin "*"
#Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin"
#Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
